.container {
    height: max-content;
    width: 100%;
    background: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    --size: 3em;
}

.container > * {
    width: var(--size);
    height: var(--size);
    display: flex;
    justify-content: center;
    align-items: center;
}