.container {
    position: relative;
    width: 100%;
    height: 100%;
    background: white;
    overflow: hidden;
}

.container > canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    background: white;
}