.popover {
    background: white;
    border: 1px solid gray;
    width: min-content;
    height: min-content;
    padding: 5px;
}

.palette {
    display: flex;
    flex-direction: column;
    gap: 5px;
}